<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body style="background-color:#62A7EC;">
    <h3>Classes</h3>
    <h5>I'm in 5 classes this semester!</h5>
    <p><b>PHYS 1402:</b> We learn about electricity and magnetism</p>
    <p><b>ENGI1102:</b> We get a general introduction to engineering, and we do a cool projet!</p>
    <p><b>ENME3105:</b> The first class of my CivE curriculum, we learn in depth analysis of forces, moments, and more</p>
    <p><b>ENGI1006:</b> This class! We learn basic python, including the libraries numpy, pandas, matplotlib, and more </p>
    <p><b>AMPA2101:</b> We learn about solcing ODEs, including some basic LinAlg solutions. Its my last math course!</p>
    <br>
    <a href="/">Back<a/>
    </body>
</html>

