<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Clubs</title>
    <head>
    <h3>Extracurriculars</h3>
    <body style="background-color:#62A7EC;">
    <p>I like to stay active on campus, which is why I take part in a lot of great clubs!</p>
    <p>I'm a member of:</p>
    <p>Engineers Without Borders (Morocco), where I am the Tanks Team Lead</p>
    <p>ASCE, where I am the class of 2023 representative</p>
    <p>SEAoNY, where I am the secretary/VP</p>
    <p>Steel Bridge Team, where I work on welding and assembly</p>
    <p>Matriculate, where I advise low income students through the college process</p>
    <p>The Ski and Snowboard Team, where I am the whole men's snowboard race team!</p>
    <p>And last, I'm on the Engineering Recruitment Committee, so I give tours!</p>
    <br>
    <a href="/">Back<a/>
    </body>
</html>

