<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>About Me</title>
    <head>
    <body style="background-color:#62A7EC;">
    <h3 style="color:#e80936;">Hi! I'm Alex Moreno</h3>
    <p>I'm currently a freshman at Columbia University, where I am studying Civil Engineering with a 
    focus in structrual engineering and possibly construction management.</p>
    <img src="static/Headshot 1.jpg" width=140 height=200>
    <h5>Links:</h5>
    <a href="/classes">My Classes</a>
    <br>
    <p><a href="/clubs">My Clubs</a></p>
    <p><a href="https://courseworks2.columbia.edu/">Favorite Website... jk</a></p>
    </body>
</html>

